{% extends "base.html" %} <!-- This file inherits base.html --> 
{% block title %}SpaceXhibit - Launches{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->

<h2> Launches </h2>
<p> 
    These are the launches that have been conducted by SpaceX so far. If you see anything wrong or missing, feel free to amend.
</p>

<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#add-launch-modal" style="position: fixed; bottom: 5em; right: 2.5em;">
    New Launch
</button>
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#filter-launch-modal" style="position: fixed; bottom: 2.5em; right: 2.5em;">
    Search in Launches
</button>

<table class = "table table-hover table-sm table-bordered">
    <thead>
        <tr class = "table-active">
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Rocket Name</th>
            <th>Launchpad Name</th>
            <th>Success</th>
            <th>Failure Reason</th>
            <th>Ship</th>
            <th>Capsules</th>
            <th colspan="2">Editing</th>
        </tr>
    </thead>
    <tbody>
        {% for launch in launches %}
        <tr class>
            <td>
                {{launch["name"]}}
            </td>
            <td>
                {{launch["date"]}}
            </td>
            <td>
                {{launch["time"]}}
            </td>
            <td>
                {{ rockets[launch["rocket_id"]] }}<!--   ID den  name alma eklenecek -->
            </td>
            <td>
                {{ launchpads[launch["launchpad_id"]] }}<!--   ID den  name alma eklenecek -->
            </td>
            <td>
                {{"No" if launch["success"] == "False" else "Yes"}}
            </td>
            <td>
                {{"-" if launch["failure_reason"] == None else launch["failure_reason"]}}
            </td>
            <td>
                {{"-" if launch["ship"] == None else launch["ship"]}}
            </td>
            <td>
                {{"-" if launch["capsules"] == None else launch["capsules"]}}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#update-launch-modal-{{ launch.launch_id }}">
                  Update
                </button>
            </td>
            <td>
                {% if current_user.is_admin %}
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" 
                  onclick="delete_launch('{{ launch.launch_id }}')">
                    Delete
                  </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- ADD LAUNCH -->

<!-- UPDATE LAUNCH -->

<!-- FILTER LAUNCHES-->


<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}
