{% extends "base.html" %}
{% block title %}SpaceXhibit - Login{% endblock %} 

{% block content %} 

    <form action="/login" method="POST">
        {{ form.csrf_token }}
        <div class="field" style="margin: 20px 0px 0px 20px;">
            <label for="username" class="form-label">Username:</label>    
            <div class="control">
                {{ form.username(required=True, class="form-control-lg")}}
            </div>
        </div>
        <br>
        <div class="field" style="margin: 0px 0px 0px 20px;">
            <label for="password" class="form-label">Password:</label>
            <div class="control">
                {{ form.password(required=True, class="form-control-lg")}}
            </div>
        </div>
        
        <button type=submit class="btn btn-warning" style="margin: 20px 20px 20px 20px;">Login</button>
    </form>

{% endblock %}