{% extends "base.html" %} <!-- This file inherits base.html -->
{% block title %}SpaceXhibit - Payloads{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->
<div class = "bg-light bg-gradient">
    </br>
    <div class="container">
        <div class = "card card-bg-warning"> 
            <div class = "card body"> 
                <h2 class = "card-title"> Payloads </h2>
                <div class = "card-text" >
                    This is the payloads page. You can browse, update, insert and delete entries to the payloads in our database!
                    </br> </br>
                    <!-- Button triggered modal for inserting entries -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#insertModal">
                        Insert New Entry
                      </button>
                      
                    <!-- Modal -->
                    <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="insertModalLabel">Insert New Entry</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form to recieve new entry -->
                                    <form method="POST">                  
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name">
                                        <label for="type" class="form-label">Type</label>
                                        <input type="text" class="form-control" id="type">
                                        <label for="reused" class="form-label">Reused</label>
                                        <select class="form-select" id="reused">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                        <label for="manufacturer" class="form-label">Manufacturer</label>
                                        <input type="text" class="form-control" id="manufacturer">
                                        <label for="mass_kg" class="form-label">Mass (kg)</label>
                                        <input type="number" class="form-control" id="mass_kg">
                                        <label for="mass_lb" class="form-label">Mass (lb)</label>
                                        <input type="number" class="form-control" id="mass_lb">
                                        <label for="orbit" class="form-label">Orbit</label>
                                        <input type="text" class="form-control" id="orbit">
                                        <label for="reference-system" class="form-label">Reference System</label>
                                        <input type="text" class="form-control" id="reference-system">
                                        <label for="regime" class="form-label">Regime</label>
                                        <input type="text" class="form-control" id="regime">
                                    <!-- End of Form-->
                                
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-warning">Insert</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal-->
                </div>
            </div>
        </div>
        <!-- End of Card -->
    </div> 
 
    </br>

    <div class = "container">
        <div class = "table-responsive">
            <table class = "table table-hover table-sm">
                <thead>
                    <tr class = "table-active">
                        <th>Name</th>
                        <th>Type</th>
                        <th>Is Reused</th>
                        <th>Manufacturers</th>
                        <th>Mass (kg)</th>
                        <th>Mass (lb)</th>
                        <th>Orbit</th>
                        <th>Reference System</th>
                        <th>Regime</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payload in payloads %}
                    <tr class>
                        <td>
                            {{payload["name"]}}
                        </td>
                        <td>
                            {{payload["type"]}}
                        </td>
                        <td>
                            {{"No" if payload["reused"] == "False" else "Yes"}}
                        </td>
                        <td>
                            {{"-" if payload["manufacturers"] == None else payload["manufacturers"]}}
                        </td>
                        <td>
                            {{"-" if payload["mass_kg"] == None else payload["mass_kg"]}}
                        </td>
                        <td>
                            {{"-" if payload["mass_lb"] == None else payload["mass_lb"]}}
                        </td>
                        <td>
                            {{"-" if payload["orbit"] == None else payload["orbit"]}}
                        </td>
                        <td>
                            {{"-" if payload["reference_system"] == None else payload["reference_system"]}}
                        </td>
                        <td>
                            {{"-" if payload["regime"] == None else payload["regime"]}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}

