{% extends "base.html" %} <!-- This file inherits base.html -->
{% block title %}SpaceXhibit - Rockets{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->

</br>
<div class = "card"> 
    <div class = "card body"> 
        <h2 class = "card-title"> Rockets </h2>
        <div class = "card-text" >
            This is the rockets page, you can make searches or browse the rockets in our database!
        </div>
    </div>
</div>
</br>

<table class = "table table-hover table-sm">
    <tr class = "table-active">
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
        <th>Country of Origin</th>
        <th>Company</th>
    </tr>
    {% for rocket in rockets %}
    <tr class>
        <td>
            {{rocket["name"]}}
        </td>
        <td>
            {{rocket["type"]}}
        </td>
        <td>
            {{"Active" if rocket["active"] else "Decommissioned"}}
        </td>
        <td>
            {{rocket["country"]}}
        </td>
        <td>
            {{rocket["company"]}}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}

