{% extends "base.html" %} <!-- This file inherits base.html -->
{% block title %}SpaceXhibit - Ships{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->

</br>
<div class = "card"> 
    <div class = "card body"> 
        <h2 class = "card-title"> Ships </h2>
        <div class = "card-text" >
            This is the ships page, you can make searches or browse the ships in our database!
            <a class="btn btn-primary" href="/ships/ship_details_1" role="button">ship_details_1</a>
            <a class="btn btn-primary" href="/ships/ship_details_2" role="button">ship_details_2</a>
        </div>
    </div>
</div>
</br>

<table class = "table table-hover table-sm">
    <tr class = "table-active">
        <th>Name</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    {% for ship in ships %}
    <tr class>
        <td>
            {{ship["name"]}}
        </td>
        <td>
            {{ship["type"]}}
        </td>
        <td>
            {{"Active" if ship["active"]== "True" else "NonActive"}}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}

