{% extends "base.html" %} <!-- This file inherits base.html -->
{% block title %}SpaceXhibit - Ships{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->

</br>
<div class = "card"> 
    <div class = "card body"> 
        <h2 class = "card-title"> Ships </h2>
        <div class = "card-text" >
            This is the ships page, you can make searches or browse the ships in our database!
            <a class="btn btn-warning" href="/ships/ship_details_1" role="button">ship_details_1</a>
            <a class="btn btn-warning" href="/ships/ship_details_2" role="button">ship_details_2</a>
            <!-- Button triggered modal for inserting entries -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#insertModal">
                Filter
              </button>
              
            <!-- Modal -->
            <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="insertModalLabel">Filter</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Form to filter -->
                            <form action="/ships" method="POST"> 
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" name="name">                 
                                <br> 
                                <label for="type" class="form-label">Type:</label>
                                <input type="text" class="form-control" name="type">
                                <br>
                                <label for="active" class="form-label">Active?</label> 
                                <select class="form-select" name="active"> 
                                    <option value="">Choose</option>  
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                                <br>
                                <button type="submit" class = "btn btn-warning">Filter</button>
                            <!-- End of Form-->  
                                <div class="modal-footer"> 
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>

<table class = "table table-hover table-sm">
    <tr class = "table-active">
        <th>Name</th>
        <th>Type</th>
        <th>Active</th>
    </tr>
    {% for ship in ships %}
    <tr class>
        <td>
            {{ship["name"]}}
        </td>
        <td>
            {{ship["type"]}}
        </td>
        <td>
            {{ship["active"]}}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}

